[submodule "vendor/git2go"]
	path = vendor/git2go
	url = https://github.com/gopac/git2go.git
[submodule "vendor/jconfig"]
	path = vendor/jconfig
	url = https://github.com/gopac/jconfig.git
[submodule "vendor/ts"]
	path = vendor/ts
	url = https://github.com/gopac/ts.git
[submodule "vendor/pb"]
	path = vendor/pb
	url = https://github.com/gopac/pb.git
